@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Playfair+Display&display=swap");

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.backgroundContainer {
  background-image: url("./assets/marita-kavelashvili-ugnrXk1129g-unsplash.jpg");
  height: 100vh;
  width: 100vh;
  padding: 0px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeTitle {
  font-family: "Playfair Display", serif;
  font-size: 8rem;
  color: #1c4637;
  position: relative;
  top: 100px;
}

.homeSubtitle {
  color: #1c4637;
  position: relative;
  top: 90px;
}

.formTitle,
.tableTitle,
.card-header {
  font-family: "Playfair Display", serif;
  color: #1c4637;
  padding: 10px;
  text-align: center;
}

.btn {
  background-color: #1c4637;
  border: none;
  color: white;
  padding: 10px 20px;
  display: inline-block;
  font-size: 16px;
}

.btn:hover {
  background-color: white;
  border: 2px solid #1c4637;
  color: #1c4637;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.buttonHolder {
  text-align: center;
}

body {
  margin: 0;
  background-color: #fffcf3;
}

.form .card {
  height: fit-content;
  padding: 10px;
  width: 100%;
  display: block;
  border: 1px solid #81b622;
  border-radius: 0.25rem;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
